
.footer-row{
    background-color: #FF7F50;
    margin-top: 0%;
    bottom: -350px;
    width: 100%;
  }

@media only screen and (max-width: 600px) {
  .footer-row div {
    padding-left: 0px ;
  } 
  }