.SignUp {
    background-color: #FDFDFD;
    width: fit-content;
    margin: auto;
    padding: 2rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    font-family: cursive;
    box-shadow: 1px 1px 3px grey;
}

.title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

.body {
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.body input{
    padding: 0.5rem 1rem;
    width: 350px;
    font-size: 1.1rem;
    margin-top: 1.3rem;
    outline: none;
    border: 1px solid black;
}

.signup {
    background-color: #ffa500;
    color: white;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    box-shadow: 0 1px 3px grey; 
    margin: 2rem 0;
    cursor: pointer;
    user-select: none;
}

.signup:hover {
    filter: brightness(97%)
}

.already {
    display: flex;
    margin-top: 0.3rem;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 0.7rem;
    font-weight: bold;
}

.link {
    color: tomato;
    font-weight: bold;
    margin-left: 11px;
    font-size: 1.1rem;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 630px) {

    .SignUp {
        padding: 1rem;
    }

    .body input {
        width: 250px;
        font-size: 1rem;
    }    
}