@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.parent {
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
}

.SignUp {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: fit-content;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  font-family: Poppins;
  box-shadow: 0 5px 15px grey;
  height: 490px;
  position: relative;
}

.SignImage {
  width: 100%;
  z-index: 1;
  height: 25%;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
}

.Sign_image {
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px 10px 0px 0px;
}

.bg_color {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #457b9d;
  opacity: 70%;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
}

.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
  position: relative;
}

.body {
  margin-top: 8%;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body input {
  padding: 1rem 1rem;
  width: 350px;
  font-size: 1rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #457b9d;
}

.send_otp {
  margin-top: 2em;
  padding: 0.7rem 0;
  font-size: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  width: 50%;
  /* background: rgb(221, 39, 28); */
  background: linear-gradient(315deg, #fb7ba2 24%, #fce043 100%);
  font-weight: 900;
  transition: all 0.4s;
}

.signup {
  background-color: #ffa500;
  color: white;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  box-shadow: 0 1px 3px grey;
  margin: 2rem 0;
  margin-top: 0.8rem;
  cursor: pointer;
  user-select: none;
}
.send_otp:hover {
  box-shadow: 0 5px 15px #fb7ba2;
  /* background: rgb(255, 165, 38); */
  background: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
  transition: 0.5s ease-in-out;
}

.password_container {
  display: flex;
  position: relative;
}

.eye {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  cursor: pointer;
}

.signup:hover {
  filter: brightness(97%);
}

.already {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 0.7rem;
  font-weight: bold;
}

.link {
  color: tomato;
  font-weight: bold;
  margin-left: 11px;
  font-size: 0.8rem;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
  .leftChildSection{
    display: none;
  }

@media only screen and (max-width: 630px) {
  .SignUp {
    padding: 1rem;
    margin: 0;
  }

  .body input {
    width: 250px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 430px) {

  .SignUp {
    /* margin-top: 17%; */
    margin-top: 4%;
    width: 100%;
    padding: 0%;
    padding-top: 5%;
    /* height: max-content; */
  }
  .body {
    margin: auto;
    margin-top: 8%;
    width: 100%;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .send_otp {
    width: 60%;
  }
  .title {
    margin-top: 6%;
  }
  .body input {
    width: 90%;
    font-size: 0.8rem;
    margin-top: 6%;
  }
}



@media screen and (min-width : 1024px) {
  .parent{ 
     justify-content: space-evenly;
  }
  .leftChildSection{
    display: block;
  }
}