 body{
        background-color: #bbecff;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(10, 17, 119);
        font-size: larger;
      }
      li {
        float: right;
      }

      li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      }

      .About{
      max-width: 1000px;
      margin: auto;
      padding: 20px;
      text-align: justify;
      }
      
      h1{
      font-size: 80px;
      }

        p{
            font-family:"Poppins";
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 250px;
            height: 450px;
            margin:auto;
            text-align: center;
            color: white;
            background-color: white;
            margin-top: 40px;
            display: inline-block;
            margin-left: 100px;
        }
        .title {
            color:rgb(10, 75, 196);
            font-size: 18px;
        }
        h2{
            font-family: "Poppins",sans-serif;
            color:rgb(0, 0, 0);
        }

        a {
          font-size: 25px;
          color: black;
          padding:10px;
        }
