.Error404 {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.text_404 {
    color: white;
    margin: 2rem;
    font-size: 10rem;
    font-weight: bold;
    text-shadow: 3px 3px 5px black, -3px -3px 5px orange;
    line-height: 1.2;
}

.number {
    color: white;
    margin: 0 1rem;
    text-shadow: 3px 3px 0 black, -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black;
}
